<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickley Police</title>
</head>

<body>

    <h1>Pickley Police</h1>
    <br>
    <h2><a th:href="@{/}">Landing Page</a></h2>
    <h2><a th:href="@{/phonecase}">Phonecases</a></h2>
    <h2><a th:href="@{/addPhonecase}">Add a new phonecase</a></h2>
    <br>


    <table>
        <thead>
            <tr>
                <th>Police ID</th>
                <th>Police Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="police : ${polices}">
                <td th:text="${police.id}"></td>
                <td th:text="${police.name}"></td>
            </tr>
    </table>

    <br>

    <form th:action="@{/processAddPolice}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>